.nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
  }
  
  .texto-nosotros h2 {
    color: #d94f70; 
    font-size: 2rem;
  }
  
  .texto-nosotros p {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
    white-space: pre-line;
    color: rgb(0, 0, 0);
  }
  
  .foto-heladeria img{
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 750px;
  }

  .foto-ubicacion img {
    width: 80%;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
  }
  
  .ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
  }
  
  .texto-ubicacion h3 {
    color: #d94f70; 
    font-size: 2rem;
  }
  
  .texto-ubicacion p {
    flex: 2;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
  }

  @media (max-width: 768px) {
    .nosotros, .ubicacion {
      flex-direction: column-reverse;
      padding: 20px;
    }
  
    .foto-ubicacion iframe {
      width: 100%;
      height: 300px; 
    }
  
    .texto-ubicacion, .texto-nosotros {
      text-align: center;
    }
  }
  