.pedir {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prox {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.pronto {
    font-size: 1.2rem;
}